.gallery {
  position: relative;
  overflow: hidden;
}

.gallery-container {
  display: flex;
  height: auto;
  margin-top: 25px;
  margin-bottom: 30px;
}

.gallery-slide {
  width: 34%;
  height: 415px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.7s ease;
  border-radius: 25px;
}

.gallery-chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}

.gallery-chevron.right {
  transform: rotate(180deg) translateY(50%);
  right: 20px;
}

.gallery-chevron.left {
  left: 20px;
}

@media (max-width: 1100px) {
  .gallery-slide {
    height: 305px;
    border-radius: 15px;
  }
  .gallery-chevron {
    width: 22px;
    height: 30px;
  }
}

@media (max-width: 660px) {
    .gallery-slide {
        height: 255px;
        border-radius: 10px;
      }
    .gallery-chevron {
        width: 11px;
        height: 20px;
      }
  }
