.tag-container {
  border-radius: 10px;
  padding: 3px 40px;
  margin-top: 5px;
}

.tag-list:not(:first-child) {
  margin: 0 5px;
}

.tag-text {
  font-size: 14px;
  line-height: 20px;
}

.wrap{ flex-wrap: wrap;}

@media (max-width: 660px) {
  .tag-container {
    padding: 3px 25px;
  }
}

@media (max-width: 1100px) {
  .tag-container {
    border-radius: 5px;
  }
}

@media (max-width: 1100px) and (min-width: 660px) {
  .tag-container {
    padding: 3px 30px;
  }
}
