.about-banner {
  background-image: url("../../assets/banners/about_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 223px;
  margin-top: 63px;
  margin-bottom: 43px;
}

.spaceAroundInput {
  margin: 30px 0;
}

@media (max-width: 1100px) {
  .about-banner {
    width: 100%;
    margin: 20px 0px;
  }

  .spaceAroundInput {
    margin: 20px 0;
  }
}
