@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

@import "./components/header/header.css";
@import "./components/tags/tags.css";
@import "./components/card/card.css";
@import "./components/gallery/gallery.css";
@import "./components/inputs/inputs.css";
@import "./components/footer/footer.css";

@import "./screens/home/home.css";
@import "./screens/about/about.css";
@import "./screens/housing/housing.css";
@import "./screens/error/error.css";

:root {
  --PRIMARY_500: #ff6060;
  --PRIMARY_700: #c94d4d;
  --GRAY_100: #f7f7f7;
  --GRAY_200: #e5e5e5;
  --NEUTRAL_WHITE: #ffffff;
  --NEUTRAL_BLACK: #000000;

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat", sans-serif;
}

.App {
  position: relative;
  background: var(--NEUTRAL_WHITE);
  height: 100%;
  min-height: 100vh;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-padding {
  padding: 40px 100px;
}

p,
h3,
h2,
h1 {
  font-family: "Montserrat";
  font-style: normal;
  color: var(--NEUTRAL_WHITE);
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: currentColor;
}

button {
  border: none;
  transition: all ease 0.2s;
}

button:hover {
  border: none;
  opacity: 0.8;
  cursor: pointer;
}

button:active {
  border: none;
  opacity: 0.5;
}

.bgMain {
  background-color: var(--PRIMARY_500);
}

.bgSecondary {
  background-color: var(--GRAY_100);
}

.textColoured {
  color: var(--PRIMARY_500);
}

.flex {
  display: flex;
  flex: 1;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spaceEvenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flexCenteredAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1100px) {
  .app-padding {
    padding: 20px;
  }
}

@media (max-width: 1100px) and (min-width: 660px) {
  .app-padding {
    height: 100%;
  }
}
